<%- include('../includes/header.ejs') %>
</head>
<body>
      <%- include('../includes/navigation.ejs') %>

    <div class="main-wraper">
      <div class="container-fluid content-wrapper px-5 mt-4">
        <div class="bg-p-90 w-75 p-3 m-auto rounded " >

        <% if (errorMessage) { %>
          <div class="alert alert-danger " dir="rtl" role="alert">
            <%= errorMessage %>
          </div>
          <%} %>
        <form action="/resetpass" method="POST" >
            <div class="row p-3  text-end"> 
              <div class="my-3 text-end">
                <label for="email" class="form-label text-white"> ایمیل خود را جهت تغییر رمز وارد کنید  </label>
                <input type="text" dir="rtl" class="form-control text-end" name="email" placeholder="مثال: erfan@shant.com">
              </div>
              <button type="submit" class="btn btn-danger">  تغییر رمز </button>
            </div>
          </form>
        </div>
      </div>
    </div>
          <!-- footer -->
    <%- include('../includes/footer') %>