<%- include('../includes/header.ejs') %>
</head>
<body>
<%- include('./admin-navigation') %>

      <div class="main-wraper">
            <div class="container-fluid bg-p-80">
                  <div class="w-15 mx-auto py-5"><img class=" w-100 " src="https://startbootstrap.github.io/startbootstrap-freelancer/assets/img/avataaars.svg" alt="welcome"></div>
                  <div class="display-5 text-p-30 text-center pb-5" dir="rtl"><%= username %> خوش آمدید </div>
      </div>
      </div>

<%- include('../includes/footer') %>