<%- include('./includes/header.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>
    <div class="content-wrapper">
    <h1 class="text-center my-5">     متاسفانه صفحه ای پیدا نشد!!!   </h1>
    </div>
    <%- include('./includes/footer') %>