<%- include('./includes/header.ejs') %>
</head>

<body dir="rtl">
    <%- include('./includes/navigation.ejs') %>
    <div class="content-wrapper">
    <h1 class="text-center my-5">     متاسفانه مشکلی در بارگذاری صفحه درخواستی شما به وجود آمده است!!!   </h1>
    <p class="text-center my-5">  لطفا پس از چند دقیقه مجدد تلاش کنید .  </p>
    </div>
    <%- include('./includes/footer') %>