<%- include('./includes/header.ejs') %>
</head>
<body>
    <%- include('./includes/navigation') %>

      <!-- main content  -->
<div class="main-wrapper">
        <div class=" content-wrapper product-bc">
            <!-- Title 1 -->
            <div class="instrumentation">
                <div><div class="title-instrumentation d-inline-block">ابزار دقیق</div><i class="fa-solid fa-2x  fa-temperature-quarter"></i></div>
            </div>

            <!-- Item 1 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8 ">
                        <div class="box-instrumentation-title">ترموکوپل های دما</div>
                        <p>ترموکوپل‌های دماترموکوپل سنسوری برای اندازه‌گیری دما میباشد. این سنسور از دو مغزی فلزی ناهمنام تشکیل شده که در انتهای کار به یکدیگر وصل شدند. برای خواندن اطلاعات ترموکوپل نیاز به کنترلر و یا نمایشگر دما است. وقتی قسمت اتصالی دو سیم با توجه به محیط سرد و یا گرم میشود تغییر ولتاژ میدهد و این تغییرات نشان دهنده‌ی دمای محیطی است که ترموکوپل در آنجا قرار گرفته.</p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4 ">
                        <img src="/assets/img/product-1.png" alt="">
                    </div>
                </div>
            </div>

            <!-- Item 2 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8">
                        <div class="box-instrumentation-title">سنسورهای RTD</div>
                        <p>سنسورهای RTD سنسور RTD یا Resistance Temperature Detector به معنی حسگر مقاومتی حرارت، این سنسورها دارای یک مقاومت بوده که مقدار مقاومتش با توجه به تغییرات دما تغییر می کند. این سنسورها چندین سال است که در آزمایشگاه‌ها و صنعت استفاده می شوند و به عنوان دقیقترین و پایدارترین سنسور دما شناخته می شوند.</p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4 ">
                        <img src="/assets/img/product-2.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Item 3 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8">
                        <div class="box-instrumentation-title">ترموسوئیچ</div>
                        <p>ترموسوییچ وسیله ای است که با توجه به دمای تعریف شده برای آن و رسسیدن دمای محیط به آن دما سوییچ میدهد و مدار متصل را قطع و یا وصل میکند.</p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4 ">
                        <img src="/assets/img/product-3.png" alt="">
                    </div>
                </div>
            </div>
            <!-- Item 4 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8">
                        <div class="box-instrumentation-title">ترموستات</div>
                        <p>ترموستات وسیله ای برای کنترل دما به صورت اتوماتیک میباشد و نیاز به فردی برای چک کردن مدام آن نیست. ترموستات را شما باید نسبت به سنسور دمایی که دارید و همچنین خروجی مورد نیاز انتخاب کنید و در مدار قرار دهید.</p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4 ">
                        <img src="/assets/img/product-4.png" alt="">
                    </div>
                </div>
            </div>

            <!-- Title 2 -->

            <div class="instrumentation">
                <div><div class="title-instrumentation d-inline-block">المنت</div><i class="fa-solid fa-2x  fa-temperature-quarter"></i></div>
            </div>

            <!-- Item 5 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8">
                        <div class="box-instrumentation-title">المنت میله ای</div>
                        <p>این نوع المنت از پر مصرف ‌ترین انواع المنت های موجود در بازار است در عوض انتقال گرمای بسیار خوبی دارد چه به صورت تابشی چه به صورت هدایتی.</p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4">
                        <img src="/assets/img/product-5.png" alt="">
                    </div>
                </div>
            </div>

            <!-- Item 6 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8">
                        <div class="box-instrumentation-title">المنت سرامیکی</div>
                        <p>المنت سرامیکی نسبت به المنت های دیگر طول عمر بیشتر و تولید گرمای متعادل تری دارد.</p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4 ">
                        <img src="/assets/img/product-6.png" alt="">
                    </div>
                </div>
            </div>

            <!-- Item 7 -->
            <div class="container">
                <div class="box-instrumentation row">
                    <div class="box-instrumentation-right col-sm-8">
                        <div class="box-instrumentation-title">المنت سیلیکون کارباید (SiC)</div>
                        <p>

                            المنت سیلیکون کارباید مقاومت در دما های بالاست، جنس این المنت غیر فلزی است و رنج حرارتی آن حتی تا ۱۶۵۰ درجه می رسد.
                            </p>
                    </div>
                    <div class="box-instrumentation-left col-sm-4">
                        <img src="/assets/img/product-7.png" alt="">
                    </div>
                </div>
            </div>

      </div><!-----content-wrapper ends here-->
    </div>

    <!-- footer -->
    <%- include('./includes/footer') %>