<%- include('./includes/header.ejs') %>
</head>
<body>
  <%- include('./includes/navigation') %>

      <!-- main content  -->
      <div class="main-wraper">

            <div class="content-wrapper">
                <div class="resume-title">رضایت مشتریان در اولویت دقت سنجش پویا قرار دارد.</div>
                <div class="row flex-row-reverse m-0">
                    <div class="col-sm-6 mobile-ord-2">
                        <div class="right-resume">
                        <p>با توجه به تجربه چندین ساله در تولید انواع این ابزارالات در دیگر پروژه‌ها اعضای دقت سنجش نوین پویا در کسب رضایت از مشتریان این شرکت از اعتماد کافی برخوردار هستند. همچنین با بوجود آوردن مکانیزم‌های سفارش و تولید کد دقیق برای هر کالا روند ثبت و تهیه سفارش به مراتب سریعتر از سیستم‌های قدیمی میباشد.
                        </p>
                        </div>
                        <div class="right-bottom-text-resume">
                            شرکت دقت سنجش نوین پویا مجموعه‌ای تشکیل شده از کادری مجرب در زمینه‌های مختلف صنعتی خصوصا سیستم‌های ابزار دقیق و تولید حرارت می باشد. موسسان این شرکت با هدف بومی سازی بسیاری از روندهای تولید ابزارالات اندازه‌گیری دقیق صنعتی از جمله سنسورهای دما (سنسورهای RTD و ترموکوپل)، فشار و سطح و همچنین تولید انواع المنت گرمایشی شروع کرده‌اند. این شرکت همچنین در تامین انواع سیم و کابل‌های نسوز، انواع لوازم الکتریکی و برق صنعتی (تابلوبرق، کنتاکتور، فیوز مینیاتوری، کلید اتوماتیک، بی‌متال و...)، اتوماسیون صنعتی (PLC، برنامه نویسی و سیستم‌های مانیتورینگ) و لوازم روشنایی می‌باشد.
                        </div>
                    </div>
                    <div class="col-sm-6 mobile-ord-1">
                        <div class="left-img-container-resume">
                            <img src="/assets/img/resume-left-img.png" alt="">
                        </div>
                    </div>

                </div> <!----flex-row-reverse ends here-->
                <div class="cards-container row">
                    <div class="col-md-6">
                        <div class="card-resume-container">
                        
                            <div class="card-resume">
                                <div class="card-img-contaniner"><img src="/assets/img/resume-card-logo-1.png" alt=""></div>
                                <div>
                                    <div class="card-left-title-first">شرکت تولیدی و صنعتی گوهرفام</div>
                                    <div class="card-left-title-second">پاییز ۱۴۰۰</div>
                                </div>
                                <div class="card-bottom-text">همکاری با شرکت بهداشت و درمان صنعت نفت فارس و هرمزگان در تامین ابزار دقیق‌ و المنت مورد نیاز و ضمانت همه محصولات.</div>
                            </div>

                            <div class="card-resume">
                            <div class="card-img-contaniner"><img src="/assets/img/resume-card-logo-1.png" alt=""></div>
                            <div>
                                <div class="card-left-title-first">شرکت تولیدی و صنعتی گوهرفام</div>
                                <div class="card-left-title-second">پاییز ۱۴۰۰</div>
                            </div>
                            <div class="card-bottom-text">همکاری با شرکت بهداشت و درمان صنعت نفت فارس و هرمزگان در تامین ابزار دقیق‌ و المنت مورد نیاز و ضمانت همه محصولات.</div>
                            </div>

                        <div class="card-resume">
                            <div class="card-img-contaniner"><img src="/assets/img/resume-card-logo-1.png" alt=""></div>
                            <div>
                                <div class="card-left-title-first">شرکت تولیدی و صنعتی گوهرفام</div>
                                <div class="card-left-title-second">پاییز ۱۴۰۰</div>
                            </div>
                            <div class="card-bottom-text">همکاری با شرکت بهداشت و درمان صنعت نفت فارس و هرمزگان در تامین ابزار دقیق‌ و المنت مورد نیاز و ضمانت همه محصولات.</div>
                        </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card-resume-container">
                            <div class="card-resume">
                                <div class="card-img-contaniner"><img src="/assets/img/resume-card-logo-1.png" alt=""></div>
                                <div>
                                    <div class="card-left-title-first">شرکت تولیدی و صنعتی گوهرفام</div>
                                    <div class="card-left-title-second">پاییز ۱۴۰۰</div>
                                </div>
                                <div class="card-bottom-text">همکاری با شرکت بهداشت و درمان صنعت نفت فارس و هرمزگان در تامین ابزار دقیق‌ و المنت مورد نیاز و ضمانت همه محصولات.</div>
                            </div>

                        <div class="card-resume ">
                            <div class="card-img-contaniner"><img src="/assets/img/resume-card-logo-1.png" alt=""></div>
                            <div>
                                <div class="card-left-title-first">شرکت تولیدی و صنعتی گوهرفام</div>
                                <div class="card-left-title-second">پاییز ۱۴۰۰</div>
                            </div>
                            <div class="card-bottom-text">همکاری با شرکت بهداشت و درمان صنعت نفت فارس و هرمزگان در تامین ابزار دقیق‌ و المنت مورد نیاز و ضمانت همه محصولات.</div>
                        </div>

                        <div class="card-resume">
                            <div class="card-img-contaniner"><img src="/assets/img/resume-card-logo-1.png" alt=""></div>
                            <div>
                                <div class="card-left-title-first">شرکت تولیدی و صنعتی گوهرفام</div>
                                <div class="card-left-title-second">پاییز ۱۴۰۰</div>
                            </div>
                            <div class="card-bottom-text">همکاری با شرکت بهداشت و درمان صنعت نفت فارس و هرمزگان در تامین ابزار دقیق‌ و المنت مورد نیاز و ضمانت همه محصولات.</div>
                        </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <!-----content-wrapper ends here-->


    <!-- footer -->
    <%- include('./includes/footer') %>